#placesElementContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#placesElement openingtimesPlaces {
    flex: inherit;
}

details {
    cursor: pointer;
}

details>summary {
    list-style: none;
}

summary:after {
    content: "+";
    color: gray;
    margin-right: 10px;
}

details[open] summary:after {
    content: "-";
}


@media (min-width: 500px) {

    #placesElementContainer {
        border-color: gray;
        border-radius: 20px;
        box-shadow: 0 1px 3px rgb(0, 0, 0, 0.2);
        width: 500px;
        padding: 30px;
    }

}